html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    position: relative;
    height: calc(100% - 60px);
}

.main-content {
    height: 100%;
    margin-top: 60px;
    position: relative;
}

#map {
    height: inherit;
}

.form-control {
    outline: none;
    border: 2px solid blueviolet;
    transition: box-shadow linear 50ms;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-control:focus {
    outline: none;
    border-color: blueviolet;
    box-shadow: 0 0 10px blueviolet;
}

#header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: rgba(0,0,200,0.2);
    transition: background-color linear 500ms;
    margin-top: -60px;
}

#header:hover {
    background-color: rgba(0,0,200,0.4);
}

.menu-icon {
    margin-left: 20px;
    margin-top: 8px;
    display: inline-block;
    padding: 5px;
}

.menu-icon span {
    height: 5px;
    border-radius: 9px;
    width: 40px;
    display: block;
    margin-bottom: 7px;
    background-color: white;
}

.menu-icon span:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 700px) {
    .menu-icon span {
        width: 30px;
        margin-left: -15px;
    }
}

.neighbourhood-panel {
    display: block;
    transform: translateZ(10);
    will-change: transform;
    transform: translateX(-300px);
    width: 300px;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    background-color: blue;
    top: 0;
    z-index: 2;
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0px); }
}

@keyframes slide-out {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-300px); }
}

.neighbourhood-panel .header-text {
    color: white;
    font-family: sans-serif;
    margin-top: 14px;
    margin-left: 15px;
}

.close {
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 900;
    font-size: 20px;
    transition: color linear 500ms;
}

.close:hover {
    cursor: pointer;
    color: blueviolet;
}

.neighbourhood-list {
    width: 93%;
    margin: 0;
    padding: 0;
}

.neighbourhood-list .item {
    display: inline-flex;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid seagreen;
}

.neighbourhood-list .item:hover {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}


.neighbourhood-list .item span {
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.neighbourhood-list .item a {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.neighbourhood-list .item a:hover {
    color: black;
}

.neighbourhood-search {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.neighbourhood-search input {
    width: 95%;
    height: 22px;
}

.neighbourhood-detail-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(200,200,200,0.95);
    transform: translate(110%, 110%);
}

.neighbourhood-detail {
    height: calc(100% - 30px);
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    position: relative;
}

.neighbourhood-details-container {
    margin-left: 10px;
    margin-right: 10px;
}

.neighbourhood-detail header h3 {
    position: relative;
    top: 11px;
    width: 93%;
}

.nearby-restaurants {
    margin-top: 50px;
    max-height: calc(100vh - 145px);
    overflow-y: scroll;
}

.nearby-restaurants header h4 {
    margin-top: 0px;
}

.slide-in-detail {
    animation: slide-in-detail 0.2s forwards;
}

.slide-out-detail {
    animation: slide-out-detail 0.2s forwards;
}

@keyframes slide-in-detail {
    100% { transform: translate(0%, 0%); };
}

@keyframes slide-out-detail {
    0% { transform: translate(0%, 0%); };
    100% { transform: translate(110%, 110%); };
}

.search {
    position: relative;
    padding: 10px;
    margin-left: 10px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 800px) {
    .search {
        width: calc(100% - 150px);
        margin-right: 10px;
        margin-left: 10px;
    }
}

#search-icon {
    cursor: pointer;
    display: inline-block;
}

.search input {
    width: 110px;
    height: 24px;
    font-size: 18px;
    -webkit-transition: width linear 50ms;
    -moz-transition: width linear 50ms;
    transition: width linear 50ms;
    display: inline-block;
}

.search-input-focus {
    width: calc(100% - 10px) !important;
}

.search-input-visible {
    transform: translateX(0%);
}

.search-results {
    margin: 0;
    width: calc(100% - 18px);
    background-color: white;
    display: block;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    max-height: 70vh;
    overflow: auto;
    left: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: absolute;
}

.search-item {
    font-size: 18px;
    display: list-item;
    border-bottom: 1px solid gray;
    padding: 4px;
    cursor: pointer;
}

.search-item:hover, .search-item-hover {
    background-color: blueviolet;
    color: white;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

::-ms-input-placeholder {
    font-style: italic;
}

.header-content {
    display: inline-block;
}

#current-location {
    position: absolute;
    margin: none;
    top: 14px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}