html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    height: 100%;
}

.main-content {
    height: 100%;
}

#map {
    height: inherit;
}

.form-control {
    outline: none;
    border: 2px solid #dadada;
    transition: box-shadow linear 50ms;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-control:focus {
    outline: none;
    border-color: blueviolet;
    box-shadow: 0 0 10px blueviolet;
}

#header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.search {
    position: relative;
    width: 40%;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .search {
        width: 93%;
    }
}

#search-icon {
    cursor: pointer;
    display: inline-block;
}

.search input {
    width: 110px;
    height: 24px;
    font-size: 18px;
    /*transform: translateX(110%);*/
    -webkit-transition: width linear 50ms;
    -moz-transition: width linear 50ms;
    transition: width linear 50ms;
    display: inline-block;
}

.search-input-focus {
    width: 100% !important;
}

.search-input-visible {
    transform: translateX(0%);
}

.search-results {
    margin: 0;
    background-color: white;
    display: block;
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    max-height: 70vh;
    overflow: auto;
    left: 11px;
    right: -3px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: absolute;
}

.search-item {
    font-size: 18px;
    display: list-item;
    border-bottom: 1px solid gray;
    padding: 4px;
    cursor: pointer;
}

.search-item:hover, .search-item-hover {
    background-color: blueviolet;
    color: white;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

::-ms-input-placeholder {
    font-style: italic;
}